* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px 0px;
  box-sizing: border-box;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.navigation-placeholder {
  height: 54px;
}

.HeroSection {
  /* padding-top: 54px; */

  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  background-image: url("welcome_image.png");
  background-size: cover;
  background-position: top;
}

.HeadContainer {
  display: flex;
  /* width: 1200px; */
  max-width: 1200px;
  width: 100%;
  /* align-items: center; */
}

.LeftTitle {
  flex: none;
  width: 50%;
}

.header-2-bold-30 {
  /* background-color: blue; */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
  color: rgba(68, 136, 153, 1);
}

.BacktoIndex {
  cursor: pointer;
}

.Frame2 {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.Frame1 {
  display: flex;
  align-items: center;

  justify-content: space-between;
  gap: 0px;
  opacity: 1;

  color: rgba(102, 102, 102, 1); /* 文字颜色 */
}
.Itinerary {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 84px; /* 固定宽度 */
  height: 14px; /* 固定高度 */

  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 13.3px;
}
.Sign_In_Up {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 91px; /* 固定宽度 */
  height: 14px; /* 固定高度 */

  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 13.3px;
}

.divider {
  border-bottom: 1px solid rgba(232, 232, 232, 1);
  /* margin: 20px 0; */
  /* margin-bottom: 40px; */
  width: 100%;
}

.divider2 {
  border-bottom: 1px solid rgba(232, 232, 232, 1);
  /* margin: 20px 0; */
  /* margin-bottom: 40px; */
  width: 100%;
  max-width: 1200px;
}

.attraction_itinerary {
  width: 100%;
  max-width: 1200px;
  padding: 0px 15px 0px 15px;
  box-sizing: border-box;
  display: flex;
  margin: 40px 0px 40px 0px;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
  gap: 30px;
}

@media (max-width: 850px) {
  .attraction_itinerary {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

.picture_current {
  /* width: 540px; */
  flex: 0 1 540px;
  max-width: 540px;
  height: 400px;
  background-color: rebeccapurple;
  background-size: cover;
  background-position: center;
  border-radius: 5px;

  display: flex;

  align-items: center;

  position: relative;
  overflow: hidden;
}

.picture_profile {
  display: flex;
  flex-direction: column;
  /* width: 600px; */
  max-width: 600px;
  flex: 0 1 600px;
  height: 400px;
  /* background-color: red; */
  gap: 20px;
}

@media (max-width: 850px) {
  .attraction_itinerary {
    width: 100%;
    padding: 0px;
  }
  .picture_current {
    width: 100%;
    /* max-width: 650px; */
    flex: 0 1 350px;
    max-width: 100%;
  }

  .picture_profile {
    width: 100%;
    flex: 0 1 400px;
    max-width: calc(100% - 20px);
  }
}

/* @media (max-width: 360px) {
  .picture_current {
    max-width: 360px;
  }
  .picture_profile {
    max-width: 340px;
  }
} */

.slider {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%;
  width: 100%;
}

.slide {
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.control {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.control img {
  width: 32px;
  height: 32px;
}

.control.prev:hover img {
  content: url("/static/icon/LeftArror_Hovered.png");
}

.control.next:hover img {
  content: url("/static/icon/RightArror_Hovered.png");
}

.prev {
  left: 10px;
}
.next {
  right: 10px;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
.dots input[type="radio"] {
  appearance: none;
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  cursor: pointer;
}
.dots input[type="radio"]:checked {
  background-color: black;
}

/* .picture_profile {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 400px;
  background-color: red;
  gap: 20px;
} */

.BookingForm {
  width: 100%;
  height: 302px;
  background-color: rgba(232, 232, 232, 1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  box-sizing: border-box;
}
.BookingFormText1,
.BookingFormText2 {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: rgba(102, 102, 102, 1);
}
.BookingFormText1 {
  font-weight: 700;
}
.BookingFormText2 {
  font-weight: 400;
}

.BookingDate {
  display: flex;
  justify-content: flex-start;
}

.DateChoose {
  width: 50%;
  display: flex;
}
.DateText {
  display: flex;
  align-items: center;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: rgba(102, 102, 102, 1);
}
.datecalendar {
  /* width: 193px; */
  /* width: 100%; */
  flex: 1;
  height: 35px;
}

.selectTime {
  display: flex;
  flex-direction: row;
}

.selectTime {
  display: flex;
  align-items: center;
  height: 22px;

  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;

  line-height: 13.3px;
  text-align: left;
  color: rgba(102, 102, 102, 1);
}
.selectTimeText {
  font-weight: 700;
}

.radioButton-field {
  height: 22px;
  display: flex;
  align-items: center;
  font-weight: 400;
}
.morning {
  padding: 0px 8px 0px 5px;
  box-sizing: border-box;
}

.afternoon {
  padding: 0px 8px 0px 5px;
  box-sizing: border-box;
}

/* 隐藏原生的单选按钮 */
.radioButton-field input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* 自定义单选按钮 */
.radioButton-field label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  vertical-align: middle;
}

/* 选中时的样式 */
.radioButton-field input[type="radio"]:checked + label::before {
  background-color: green;
  border-color: white;
}

/* 保持标签文本与自定义单选按钮对齐 */
.radioButton-field label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tour_fee {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 22px;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;

  line-height: 13.3px;
  text-align: left;
  color: rgba(102, 102, 102, 1);
}

.tour_fee_text {
  width: 81px;
  font-weight: 700;
}
.tour_fee_dollars {
  display: flex;
  align-items: center;
  font-weight: 400;
  height: 22px;
  min-width: 108px;
  justify-content: space-between;
}

.submitButtonBookingForm {
  width: 154px;
  height: 36px;

  font-family: "Noto Sans TC", sans-serif; /* 字體 */
  font-size: 19px; /* 字體大小 */
  font-weight: 400; /* 字體粗細 */
  line-height: 16px; /* 行高 */
  text-align: center; /* 文字對齊 */

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(68, 136, 153, 1);
  border-radius: 5px;
}

.BookingForm-button {
  background-color: rgba(68, 136, 153, 1);
  color: white;
}

.BookingForm-button:hover {
  /* background-color: #45a049;  */
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.BookingForm-button:active {
  /* background-color: #3e8e41; */
  /* box-shadow: 0 5px #666; */
  transform: translateY(2px);
}

.attractionName {
  display: flex;
  align-items: center;
  height: 33px;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: rgba(102, 102, 102, 1);
}

.attractionCategory {
  height: 22px;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 13.3px;
  text-align: left;
  display: flex;
  align-items: center;
  color: rgba(102, 102, 102, 1);
}

.sectionInfo {
  max-width: 1200px;
  /* height: 362px; */
  /* background-color: greenyellow; */
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.AttractionInfO {
  font-family: "Noto Sans TC", sans-serif;
  font-style: normal;
  font-size: 16px;

  font-weight: 400;
  line-height: 23.17px;
  text-align: left;
  color: rgba(102, 102, 102, 1);
}

.attractionAddressTitle {
  font-family: "Noto Sans TC", sans-serif;
  font-style: normal;
  font-size: 16px;
  height: 32px;
  font-weight: 700;
  line-height: 23.17px;
  text-align: left;
  display: flex;
  align-items: center;
  color: rgba(102, 102, 102, 1);
}
.attractionAddress {
  font-family: "Noto Sans TC", sans-serif;
  font-style: normal;
  font-size: 16px;
  height: 24px;
  font-weight: 400;
  line-height: 23.17px;
  text-align: left;
  color: rgba(102, 102, 102, 1);
}

.trafficWay {
  font-family: "Noto Sans TC", sans-serif;
  font-style: normal;
  font-size: 16px;
  height: 32px;
  font-weight: 700;
  line-height: 23.17px;
  text-align: left;
  display: flex;
  align-items: center;
  color: rgba(102, 102, 102, 1);
}

.trafficInfo {
  font-family: "Noto Sans TC", sans-serif;
  font-style: normal;
  font-size: 16px;
  /* height: 24px; */
  font-weight: 400;
  line-height: 23.17px;
  text-align: left;
  color: rgba(102, 102, 102, 1);
}

.footerextend {
  flex: 1;
}
.footer {
  width: 100%;
  height: 104px;
  background-color: rgba(117, 117, 117, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
  color: white;
}
