* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.navigation-placeholder {
  height: 54px;
}

.HeadContainer {
  display: flex;
  /* width: 1200px; */
  max-width: 1200px;
  width: 100%;
  /* align-items: center; */
}

.LeftTitle {
  flex: none;
  width: 50%;
}

.header-2-bold-30 {
  /* background-color: blue; */
  font-family: "Noto Sans TC", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
  color: rgba(68, 136, 153, 1);
}

.BacktoIndex {
  cursor: pointer;
}

.Frame2 {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.Frame1 {
  display: flex;
  align-items: center;

  justify-content: space-between;
  gap: 0px;
  opacity: 1;

  color: rgba(102, 102, 102, 1); /* 文字颜色 */
}

.Itinerary {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 84px; /* 固定宽度 */
  height: 14px; /* 固定高度 */

  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 13.3px;
  cursor: pointer;
}
.Sign_In_Up {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 91px; /* 固定宽度 */
  height: 14px; /* 固定高度 */

  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 13.3px;
}

.login:hover {
  cursor: pointer;
}

.Sign_Out {
  display: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;

  width: 91px; /* 固定宽度 */
  height: 14px; /* 固定高度 */

  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 13.3px;
}

.divider {
  border-bottom: 1px solid rgba(232, 232, 232, 1);
  /* margin: 20px 0; */
  /* margin-bottom: 40px; */
  width: 100%;
}

.divider2 {
  border-bottom: 1px solid rgba(232, 232, 232, 1);
  /* margin: 20px 0; */
  /* margin-bottom: 40px; */
  width: 100%;
  max-width: 1200px;
  padding: 0px 10px 0px 10px;
  box-sizing: border-box;
}

.InfoHeader {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: left;

  font-family: "Noto Sans TC", sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: rgba(102, 102, 102, 1);
}

.noItinerary {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 13.3px;
  text-align: left;
  color: rgba(102, 102, 102, 1);
  display: none;
}

@media (max-width: 1000px) {
  .InfoHeader {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
}

.bookingItinerary {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
  margin: 40px 0px 40px 0px;
  gap: 30px;
  /* padding: 0px 15px 0px 15px; */
  box-sizing: border-box;
}

.attractionSetion {
  /* height: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px 0px 10px;
  /* background-color: blue; */
}

.bookingInfo {
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  /* align-items: center; */
  /* justify-content: space-between; */
  /* justify-content: center; */
  gap: 30px;
}

.AttractionPic {
  background-image: url("test.png");
  flex: 0 0 250px;
  max-width: 250px;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.AttractionInfo {
  display: flex;
  /* flex-grow: 1; */
  flex-direction: column;
  flex: 0 1 700px;
  max-width: 700px;
  /* width: 100%; */
  /* gap: 20px; */
  position: relative;
  /* background-color: aqua; */
}

@media (max-width: 650px) {
  .bookingInfo {
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }
  .AttractionPic {
    width: 100%;
    flex: 0 1 200px;
    max-width: 100%;
  }
  .AttractionInfo {
    width: 100%;
    flex: 0 1 200px;
  }
}

.deleteBooking {
  position: absolute;
  right: 0px;
  /* bottom: 0px; */
}
.deleteBooking img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

@media (max-width: 650px) {
  .deleteBooking {
    bottom: 0px;
  }
  .bookingItinerary {
    margin-bottom: 30px;
  }
}

.AttrInfoTitle {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
  text-align: left;
  color: rgba(68, 136, 153, 1);
}

.AttrInfoDate,
.AttrInfoTime,
.AttrInfoFee,
.AttrInfoLoc {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
  text-align: left;
  color: rgba(102, 102, 102, 1);
}

.AttrInfoTitle {
  margin-bottom: 20px;
}
.AttrInfoDate,
.AttrInfoTime,
.AttrInfoFee,
.AttrInfoLoc {
  margin-bottom: 10px;
}
.BookingDate,
.travelTime,
.travelFee,
.travelLoc {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 13.3px;
  text-align: left;
  color: rgba(102, 102, 102, 1);
}

.ContactInfo {
  /* height: 1000px; */
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
  padding: 40px 10px 40px 10px;
  box-sizing: border-box;
  color: rgba(102, 102, 102, 1);
}
.ContactInfoTitle {
  display: flex;
  align-items: center;
  height: 24px;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  margin-bottom: 20px;
}
.ContactInfoName,
.ContactInfoEMail,
.ContactInfoPhoneNum {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 13.3px;
  text-align: left;
  margin-bottom: 15px;
}

.ContactInfoNotice {
  height: 24px;
  display: flex;
  align-items: center;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
  text-align: left;
}

@media (max-width: 650px) {
  .ContactInfoNotice {
    height: auto;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 23.17px;
    text-align: left;
  }
}
.inputInfo {
  height: 38px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgba(232, 232, 232, 1);
  border-radius: 5px;
  color: rgba(0, 0, 0, 1);
}

.CreditCardInfo {
  display: flex;
  flex-direction: column;
  color: rgba(102, 102, 102, 1);
  width: 100%;
  padding: 40px 10px 40px 10px;
  box-sizing: border-box;
  max-width: 1000px;
  width: 100%;
}

.CreditCardTitle {
  display: flex;
  align-items: center;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  margin-bottom: 20px;
}

.CreditCardNum,
.CreditCardExpiredTime,
.CreditCardCVC {
  margin-bottom: 15px;
  display: flex;
  align-items: center;

  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 13.3px;
  text-align: left;
}

.bookinConfirm {
  width: 100%;
  max-width: 1000px;
  margin: 40px 0px 40px 0px;
  padding: 0px 10px 0px 10px;
  box-sizing: border-box;

  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
  text-align: right;

  color: rgba(102, 102, 102, 1);

  position: relative;
}

.ConfirmButton {
  width: 173px;
  height: 36px;

  font-family: "Noto Sans TC", sans-serif; /* 字體 */
  font-size: 19px; /* 字體大小 */
  font-weight: 400; /* 字體粗細 */
  line-height: 16px; /* 行高 */
  text-align: center; /* 文字對齊 */

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(68, 136, 153, 1);
  border-radius: 5px;

  position: absolute;
  right: 10px;
  top: 40px;
}

.BookingButton {
  background-color: rgba(68, 136, 153, 1);
  color: white;
}

.BookingButton:hover {
  /* background-color: #45a049;  */
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.BookingButton:active {
  /* background-color: #3e8e41; */
  /* box-shadow: 0 5px #666; */
  transform: translateY(2px);
}

.footerextend {
  flex: 1;
}
.footer {
  width: 100%;
  height: 104px;
  background-color: rgba(117, 117, 117, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
}
.footerText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
  color: white;
  height: 100%;
}

.overlay {
  display: none;

  position: fixed; /* 固定定位 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.LoginInForm {
  /* display: block; */
  display: none;
  position: fixed;
  top: 217.5px;
  left: 50%;
  transform: translate(-50%, -137.5px);
  width: 340px;
  /* height: 275px; */
  background-color: white;
  z-index: 3;
  border-radius: 6px;
}
.LoginBar {
  width: 100%;
  height: 10px;
  background: linear-gradient(
    to right,
    rgba(102, 170, 187, 1),
    rgba(51, 119, 136, 1)
  );
  border-radius: 6px 6px 0px 0px;
}
.LoginClosebox,
.RegistercloseBtn {
  position: absolute;
  top: 20px;
  left: 300px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.LoginClosebox:hover,
.RegistercloseBtn {
  cursor: pointer;
}

.loginMemberMain {
  width: 100%;
  /* height: 265px; */
  padding: 15px;
  box-sizing: border-box;
  gap: 11.25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginMemberText {
  height: 27px;
  width: 100%;

  font-family: "Noto Sans TC", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;

  color: rgba(102, 102, 102, 1);
}
.MemberEmail,
.MemberPassword,
.AccountName {
  width: 100%;
  height: 47px;
  border: 1px solid rgba(204, 204, 204, 1);
  border-radius: 5px;

  padding: 10px 15px;
  box-sizing: border-box;

  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 13.3px;
  text-align: left;

  color: rgba(117, 117, 117, 1);
}

.LoginButton {
  width: 100%;
  height: 47px;
  border-radius: 5px;
  background-color: rgba(68, 136, 153, 1);
  color: white;

  font-family: "Noto Sans TC", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

.LoginButton:hover {
  /* background-color: #45a049;  */
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.LoginButton:active {
  /* background-color: #3e8e41; */
  /* box-shadow: 0 5px #666; */
  transform: translateY(2px);
}

.MsgText,
.LoginMsgText {
  width: 100%;
  height: 22px;
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;

  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 13.3px;
  color: red;
}

.WithoutAccountText {
  width: 100%;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 13.3px;
  /* text-align: center; */

  color: rgba(102, 102, 102, 1);
}

.registerForm {
  display: none;
  /* display: block; */
  position: fixed;
  top: 217.5px;
  left: 50%;
  transform: translate(-50%, -137.5px);
  width: 340px;
  /* height: 275px; */
  background-color: white;
  z-index: 3;
  border-radius: 6px;
}

.SwitchToRegister:hover {
  cursor: pointer;
}
.SwitchToLogin:hover {
  cursor: pointer;
}
